
.vs/GeniusGame/v15/Server/sqlite3/db.lock
.vs/GeniusGame/v15/.suo
.vs/GeniusGame/v15/Server/sqlite3/storage.ide
.vs/GeniusGame/v15/Server/sqlite3/storage.ide-shm
.vs/GeniusGame/v15/Server/sqlite3/storage.ide-wal
GeniusGame/obj/x64/Debug/Interop.MediaPlayer.dll
GeniusGame/obj/x64/Debug/Interop.MediaPlayer.dll
GeniusGame/obj/x64/Debug/Interop.MediaPlayer.dll
*.dll
GeniusGame/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/GeniusGame/v14/.suo
GeniusGame/bin/x64/Debug/GeniusGame.exe
GeniusGame/bin/x64/Debug/GeniusGame.exe.config
*.pdb
GeniusGame/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GeniusGame/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GeniusGame/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GeniusGame/obj/x64/Debug/GeniusGame.Properties.Resources.resources
GeniusGame/obj/x64/Debug/GeniusGame.Forms.FormScoreBoard.resources
GeniusGame/obj/x64/Debug/GeniusGame.FormMain.resources
GeniusGame/obj/x64/Debug/GeniusGame.FormGame.resources
GeniusGame/obj/x64/Debug/GeniusGame.FormConfiguration.resources
GeniusGame/obj/x64/Debug/GeniusGame.exe
GeniusGame/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GeniusGame/obj/x64/Debug/GeniusGame.csproj.FileListAbsolute.txt
GeniusGame/obj/x64/Debug/GeniusGame.csproj.GenerateResource.Cache
GeniusGame/obj/x64/Debug/GeniusGame.csproj.ResolveComReference.cache
GeniusGame/bin/x64/Debug/GeniusGame.vshost.exe.manifest
GeniusGame/bin/x64/Debug/GeniusGame.vshost.exe.config
GeniusGame/bin/x64/Debug/GeniusGame.pdb
GeniusGame/bin/x64/Debug/GeniusGame.exe.config
GeniusGame/bin/x64/Debug/GeniusGame.exe
.vs/GeniusGame/v14/.suo
.vs/GeniusGame/v14/.suo
