<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeniusGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <GeniusGame.Properties.Settings>
            <setting name="BlueButtonSong" serializeAs="String">
                <value>C:\Cassio\TCP\GeniusGame\Songs\Cow Mooing-SoundBible.com-1530217877.mp3</value>
            </setting>
            <setting name="RedButtonSong" serializeAs="String">
                <value>C:\Cassio\TCP\GeniusGame\Songs\Elephant Calls-SoundBible.com-480825513.mp3</value>
            </setting>
            <setting name="YellowButtonSong" serializeAs="String">
                <value>C:\Cassio\TCP\GeniusGame\Songs\Monkeys Monkeying Around-SoundBible.com-1738007729.mp3</value>
            </setting>
            <setting name="GreenButtonSong" serializeAs="String">
                <value>C:\Cassio\TCP\GeniusGame\Songs\Rooster-SoundBible.com-1114473528.mp3</value>
            </setting>
        </GeniusGame.Properties.Settings>
    </applicationSettings>
</configuration>